.filterMenuContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.fallbackButton {
  margin-right: 10px;
}

.alert {
  composes: alert from '~Components/Alert.css';

  margin-top: 10px;
}
